/* styles.css */

/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, rgb(251, 132, 235), #cf009f);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 100%;
    max-width: 700px;
}

.login-box {
    background: rgb(249, 243, 218);
    width: 600px;
    height: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    box-shadow: #0f0f0f;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.input-group {
    margin-bottom: 10px;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #1E90FF;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: rgb(232, 0, 201);
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: rgb(232, 0, 201);
}

.signup-link {
    margin-top: 15px;
}

.signup-link button {
    background: none;
    border: none;
    color: #1E90FF;
    text-decoration: underline;
    cursor: pointer;
}
